<div id="header">
    <div id="header-content">
        <div id="header-logo">
            <a id="logo-link" href=".">
            </a>
        </div>
        <div id="header-title">
            <h1><a href=".">›&nbsp;Bunny's Home</a></h1>
        </div>
        <div id="header-menu">
            <ul class="vmenu">
                <li><h3><a href=".">›&nbsp;Blogs</a></h3></li>
                <li><h3><a href=".">›&nbsp;Albums</a></h3></li>
            <ul>
        </div>
    </div><!-- / id=header-content -->
</div><!-- / id=header -->
