<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>{% if page.description %}
        <meta name="description" content="{{ page.description }}">{% endif %}
        <meta name="author" content="{{ site.author.name }}">
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{{ ASSET_PATH }}/js/jquery-1.8.2.min.js"></script>
        <script src="{{ ASSET_PATH }}/js/jquery.tagcanvas.min.js"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <!-- Le styles -->
        <link href="{{ ASSET_PATH }}/css/base.css" rel="stylesheet">
        <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css"
        media="all">
        <!-- Le fav and touch icons -->
        <!-- Update these with your own images <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    </head>
    
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div id="navbar-container" class="container">
                    <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        {% assign pages_list = site.pages %} 
                        {% assign group = 'navigation' %} 
                        {% include JB/pages_list %}
                    </ul>
                    <ul class="nav pull-right">
                        <!-- <li class="rss">
			  <a href="{{}}">
				  <img src="{{ ASSET_PATH }}/images/rss.png"></img>
			  </a>
			  </li>
			  -->
                        <li class="sharing">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_preferred_1"></a>
                                <a class="addthis_button_preferred_2"></a>
                                <a class="addthis_button_preferred_3"></a>
                                <a class="addthis_button_preferred_4"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">
                                var addthis_config = {"data_track_addressbar":true};
                            </script>
                            <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-509776e06d71b495"></script>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a class="brand" title="Fork me on Github" style="padding-left: 30px" href="https://github.com/zeratel/zeratel.github.com">git</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content-body" class="container">
            <div id="nav-block"></div>{{ content }}
            <footer>
                <p>&copy; {{ site.author.name }} 2012 with help from
                    <a href="http://jekyllbootstrap.com"
                    target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>and
                    <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
                </p>
            </footer>
        </div>
        <!-- /container -->
        {% include JB/analytics %}
    </body>

</html>
